pandas
pandas-datareader
pandas-profiling
pandas-stubs
plotly
pathlib
dtreeviz
scipy
pillow
scikit_learn
statsmodels
streamlit
streamlit-option-menu
streamlit-pandas-profiling
category_encoders
numba
numpy
seaborn
altair
pygwalker
jupyterlab
tensorflow
keras
json
